$accentColorRed: #DE122B;
$colorBlack: #000000;
$colorYellow: #F9CD77;
$colorGray: #F3F3F3;
$colorWhite: #FFFFFF;

$familyCormorantGaramond: 'Cormorant Garamond';
$familyRoboto: 'Roboto';
$contentFontSize: 17px;

$transition: all 0.3s ease;